<nav class = "navbar navbar-expand-lg bg-transparent navbar-light">
    
    <a href="/"><img src="images/logo.png" alt="wel-logo" class="ww-img nav-logo"></a>
    
    <button 
    class="navbar-toggler" 
    type ="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbar"
    >
    <span class="navbar-toggler-icon"></span>
</button>
    
   <div class="ww-nav collapse navbar-collapse fw-normal fs-5" id ="navbar">
       <ul class="navbar-nav ms-auto">
       <li class="nav-item">
        <a href="/about" class="nav-link text-dark">About</a>
       </li>

       <li class="nav-item">
        <a href="/our-prog" class="nav-link text-dark">Our Program</a>
       </li>

       <li class="nav-item">
        <a href="/fundsupdates" class="nav-link text-dark">Fund Updates</a>
       </li>

       <li class="nav-item">
        <a href="/volunteer" class="nav-link text-dark">Volunteer</a>
       </li>
       </ul>
       

   </div>

</nav>