<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs')  %>
        <link rel="stylesheet" href="stylea.css">
    </head>
<body>
    <%- include('./partials/nav.ejs')  %>


    <h2 class = "section-title-abt">
        About
        <hr class="h-abt">
    </h2>

    <div class="ourmission">
        <div class = "ourmission-info">
            <div class="ourmission-img">
                <img src="images/our mission.jpg" alt="dog-and-cat1" class="ourmission-img">
            </div>
            <div class="content-section-om">
                <h3 class="abt-title"> Our Mission</h3>
                <div class="ourmissionbio">  
                    <p>Wags and Whiskers pursues to improve the quality of lives of the stray animals, and to build a community that encourages humane treatment of these animals. We work towards keeping these animals healthy, happy and safe, and bringing them to their forever homes.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="getintouch">
        <div class = "getintouch-info">
            <div class="getintouch-img">
                <img src="images/get in touch.jpg" alt="dog-and-cat2" class="getintouch-img">
            </div>
            <div class="content-section-git">
                <h3 class="git-title"> Get In Touch</h3>
                <div class="getintouch-bio">  
                    <p> We'd love to hear from you<br>
                        Email<br>
                        <u>wagsnwhiskers@gmail.com</u><br>
                        Hotline<br>
                        777-7777<br>
                    </p>
                </div>
            </div>
        </div>
    </div>

     <div class = "our-team">
            <div class="ourteam__body">
                <h3 class = "centerheading"> Our Team </h3>
                <p>Wags & whiskers is supervised by a caring team of college students. Living in Metro <br> Manila, we operate from our homes for most of the week – meeting at our main <br> branch every once in a while to assess and check the dog's status and health.</p>
            
            <div class="main3">
                    <img src = "images/mansueto.jpeg"alt="" class="images">
                    <span class="name-ot">Raphael Mansueto</span>
                    <span class = "role-ot"> Founder</span>   
            </div>
    
            <div class="main3">
                    <img src = "images/arlegui.JPG"alt="" class="images">
                    <span class="name-ot">Myka Arlegui</span>
                    <span class = "role-ot"> Co-Founder</span>
            </div>
    
            <div class="main3">
                    <img src = "images/lojo (fixed).jpg" alt="" class="images">
                    <span class="name-ot">Vince Lojo</span>
                    <span class = "role-ot"> Co-Founder</span>
            </div>    
            
            <div class="main3">
                    <img src = "images/dacio (fixed).jpg"alt="" class="images">
                    <span class="name-ot">Francis Dacio</span>
                    <span class = "role-ot"> Co-Founder</span>  
            </div>
        </div>
</div>
        
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>