<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs')  %>
        <link rel="stylesheet" href="homevol.css">
    </head>
<body>
    <%- include('./partials/nav.ejs')  %>
<!--Bringing Strays-->



<section class ="text-center">
    <div class="container">
        
            <div class="d-sm-flex align-items-center">
            <div class ="ymd">
            <h1>Bringing Strays to their </h1>
            <h1>Pawr-ever Homes </h1>
            <div class="btc-1 my-5 btn-sm">
            <a href="/donate" class="donate-btn btn btn-outline-dark btn-lg rounded-0" role="button">Donate</a>
            <a href="https://www.facebook.com/Wags-Whiskers-106492348737271" target="_blank" class="btn btn-outline-dark btn-lg col-xs-2 margin-left rounded-0" role="button">Buy to Donate</a>

            </div>
            
            </div>
                <img class ="cnd img-fluid d-none d-lg-block" src="images/4.png" alt="">
            

    
    </div>
</section>



<!--Help Us Grow-->



<section class="welcome-1">
    <div class="hugrow">
        <h2> Help Us Grow</h2>
        <p>Our family continues to grow day by day and we strive to build a facility which would allow us to 
            better the welfare of more strays by providing them a temporary home before they go home to their new families. </p>
        </div>            
</section>




<!--Your Donation-->




<section>
    <div class="d-sm-flex align-items-center">
        <img class="bg img-fluid d-none d-lg-block" src ="images/bg.png">
      
            <div class="donation d-none d-lg-block align-items-center">
                <h1>YOUR DONATION</h1>
                <h1>MAKES A</h1>
                <h1>DIFFERENCE.</h1>
            </div>

        </div>

    </div>
    
</section>



<section>
    <img class="bg-1 img-fluid d-lg-none .d-xl-block" src ="images/bg.png">
    <div class="donation-sc d-lg-none .d-xl-block">
        <h1>YOUR DONATION MAKES A DIFFERENCE. </h1>
    </div>
    
</section>










<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
