* {
  margin: 0;
  padding: 0;
}

.header {
  min-height: 100%;
  /* added */
  margin-bottom: 5vw;
}

.nav-item {
  font-size: calc(8px + 1vw);
  font-family: Playfair Display;
  padding: 10px 60px;
  font-weight: lighter;
}

.nav-logo {
  width: 31.3vw;
  min-width: 260px;
}

.ww-nav ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #9c7e7e;
  display: block;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ww-nav ul li:hover::after {
  width: 100%;
}

.ymd {
  margin: auto;
}

.ymd h1 {
  font-size: 51px;
  font-family: IM Fell French Canon;
  font-style: italic;
  font-weight: lighter;
}

.cnd {
  width: 70%;
  margin-right: -7%;
}

.btn {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.donate-btn {
  padding-right: 35px;
  padding-left: 35px;
}

.margin-left {
  margin-left: 10px !important;
}

.welcome-1 {
  margin-top: 1%;
  padding: 40px;
  background-color: #d1cccc;
}

.hugrow {
  text-align: center;
}

.hugrow h2 {
  padding-top: 10px;
  padding-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 50px;
  text-align: center;
}

.hugrow p {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: lighter;
  text-align: center;
  margin-top: -3%;
  padding-top: 10px;
  padding-right: 20%;
  padding-left: 20%;
}

.bg {
  width: 65%;
}

.donation {
  margin-top: 2%;
}

.donation h1 {
  font-family: Bebas Neue;
  font-weight: 500;
  color: #362424;
  font-size: 5.9vw;
  margin-left: 2vw;
  padding: 5px;
}

.donation-sc h1 {
  font-family: Bebas Neue;
  color: #362424;
  font-size: 70px;
  font-weight: 500;
  text-align: center;
}

.volpg {
  padding-bottom: 65px;
}

.volpg h2 {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  font-size: 41px;
  text-align: center;
}

.h {
  width: 15%;
  height: 1px;
  border: 0 none;
  margin-top: 10.5px;
  margin-left: 42.6%;
  background-color: #000000;
}

.volpg p {
  font-size: 20px;
  text-align: center;
  padding-top: 35px;
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  padding-right: 18%;
  padding-left: 18%;
}

.volpg img {
  margin-top: 5%;
  border: 10px solid #C0B5B5;
  width: 25%;
  float: none;
  position: absolute;
  left: 37%;
}

.vol-link {
  margin-top: 19px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

.vol-link a {
  color: #833c3c;
}

.vol-link a:hover {
  color: #b62929;
}

.last-img img {
  width: 70%;
  margin-top: 18%;
  position: absolute;
  left: 17%;
}

@media (max-width: 60rem) {
  .welcome-1 {
    padding: 25px;
  }
  .hugrow h2 {
    margin-top: 2%;
    font-size: 35px;
  }
  .hugrow p {
    font-size: 20px;
    padding: 35px;
    margin-top: -10%;
  }
  .volpg p {
    font-size: 18px;
    text-align: justify;
    padding-top: 20px;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding-right: 18%;
    padding-left: 18%;
  }
  .volpg img {
    margin-top: 55px;
    border: 10px solid #C0B5B5;
    width: 45%;
    float: none;
    position: absolute;
    left: 27.5%;
  }
  .last-img img {
    width: 85%;
    margin-top: 35%;
    position: absolute;
    left: 9.5%;
  }
}

@media (max-width: 90rem) {
  .cnd {
    width: 60%;
  }
  .ymd h1 {
    font-size: 35px;
    font-family: IM Fell French Canon;
    font-style: italic;
    font-weight: lighter;
  }
  .donate-btn {
    margin-top: -8%;
  }
  .btn {
    margin-top: -8%;
  }
}
/*# sourceMappingURL=homevol.css.map */