* {
    margin: 0;
    padding: 0;
  }
  
.header {
    min-height: 100%;
    /* added */
    margin-bottom: 5vw;
  }

  .nav-item {
    font-size: calc(8px + 1vw);
    font-family: Playfair Display;
    padding: 10px 60px;
    font-weight: lighter;
  }

.nav-logo{
    width: 31.3vw;
    min-width: 260px;
  }

.ww-nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #9c7e7e;
    display: block;
    margin: auto;
    transition: 0.5s;;
 }
    
.ww-nav ul li:hover::after{
        width:100%;  
}

//Start of about//
.section-title-abt{
    font-size: 64px;
    text-align:center;
    font-family: 'Playfair Display';
    font-weight: lighter; 
}

.abt-title{
    font-family: 'Raleway'; 
    font-size: 48px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: normal; 
}

.h-abt {
    width: 15%;
    height: 1px;
    border: 0 none;
    margin-top: 10.5px;
    margin-left: 42.6%;
    background-color: #c1c1c1;
}

.ourmission{
    width: 100%;
    min-height: 63vh;

    .ourmission-img{
        float: left;
        width: 45%;
    }

    .ourmission-img img{
        width: 110%;
        height:auto;
    }
    
    .ourmission-info{
        width: 85.5%;
        display:block;
        margin: auto;
        padding-top: 80px;
    }

    .content-section-om{
        float:right;
        width: 45%;

        .ourmissionbio p{
            font-family: 'Inter';
            font-size: 20px;
            font-weight:400;
        }
    }
    @media screen and (max-width: 730px){
        .ourmission-info {
            width: 70%;
            display:block;
            margin: auto;
            padding-top: 80px;
        }

        .content-section-om {
            float:none;
            width: 100%;
            display: block;
            margin:auto;
        }
        
        .ourmission-img{
            float:none;
            width: 100%;
            display: block;
            margin:auto;
        }
    }
}

.getintouch{
    width: 100%;
    min-height: 73vh;

    .getintouch-info{
        width: 77.5%;
        display:block;
        margin: auto;
        padding-top: 80px;
    }

    .getintouch-img{
        float: right;
        width: 45%;
    }

    .getintouch-img img{
        width: 100%;
        height:auto;
    }    
    
    .content-section-git{
        float:left;
        width: 45%;

        .git-title{
            font-family: 'Raleway'; 
            font-size: 48px; 
            font-style: normal; 
            font-variant: normal; 
            font-weight: normal; 
        }

        .getintouch-bio p{
            font-family: 'Inter';
            font-size: 34px;
        }
    }

    @media screen and (max-width: 730px){
        .getintouch-info {
            width: 70%;
            display:block;
            margin: auto;
            padding-top: 80px;
        }

        .content-section-git {
            float:none;
            width: 100%;
            display: block;
            margin:auto;

            .getintouch-bio p{
                font-size: 28px;
            }
        }
        
        .getintouch-img{
            float:none;
            width: 100%;
            display: block;
            margin:auto;
        }
    }
}

.our-team{
    width: 100%;
    padding-top: 80px;
    display:block;
    margin: auto;
    
    .centerheading{
        text-align: center;
        font-family: 'Raleway'; 
        font-size: 48px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: normal; 
    }
    
    .ourteam__body{
        text-align:center;
    }
    
    .ourteam__body p{
            font-family: 'Inter';
            font-size: 24px;
    }
    
    .main3{
        display:inline-block;
        text-align:center;
        width: 200px;
        padding: 20px;

        .images{
            width: 100%;
            border-radius: 50%;
        }
    }
    
    .name-ot {
        font-family: 'Inter';
    }
    
    .role-ot {
        font-family: 'Playfair Display';
        font-style: italic;
        display: block;
    }
}

//Start of payment//
.payment{
    background-color:rgba(250, 216, 183, 0.973);

    .container-text-pm{
        width:100%; 
        max-width: 1000px;
        margin: auto;
        display: flex;
    }

    .left-image-pm{
        width: 45%;
    }

    .left-image-pm img{
        width: 110%;
        height:auto;
    }

    .right-info-pm{
        min-height: 600px;
        background-color: white;
        padding: 30px;
        box-shadow: 3px 2px 4px gray;
        margin:auto;
        
    }
    
    .right-info-pm:before{
        content: "";
        width: 75px;
        height: 4px;
        display: inline-block;
        background: black;
        position: relative;
        bottom: 9%;
        transform:translate(-25px, 442px);
    }

    .right-info-pm:after{
        content: "";
        width: 75px;
        height: 4px;
        display: inline-block;
        background: black;
        position:relative;
        bottom: 9%;
        transform:translate(290px, -70px);
    }

    .btn{
        color:#e4ae00;
    }
    .img-qr-pm{
        text-align:center;
    }
    
    .hr-lines{
        font-family:'Playfair'; 
        font-size: 48px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: normal;
    }

    .hr-lines:after{
        display: inline-block;
        content: "";
        border-top: 4px solid black;
        width: 128px;
        margin: 0 1rem;
        transform: translateY(-14px);
    }
    
    .txt-inp input{
        border: 0;
        background:none;
        outline: 0;
        width: 250px;
        color: black;
    }

    @media screen and (max-width:950px){
        .container-text-pm{
            width: 70%;
            margin: auto;
            padding-top: 80px;
            background-color:rgba(250, 216, 183, 0.973);
        }

        .right-info-pm{
            text-align:center;
            width: 100%;
            margin:auto;
            background-color: white;
        }

        .left-image-pm img{
            display:none;
        }
        
        .img-qr-pm img{
            text-align:center;
            width: 70%;
            margin:auto;
        }

    
    }

    @media screen and (max-width:1100px){
        .hr-lines:after{
        display: none;
        }
}

    @media screen and (max-width: 1250px){
        .right-info-pm:before{
        display:none;
        }

        .right-info-pm:after{
        display:none;
        }
}
}










